$def with (scheduledb, teamsdb, champion_data)
$var scheduled = scheduledb.list()
$var teamsd = teamsdb.list()
$var active_nav = "admin"

<script type="text/javascript" language="javascript" class="init">
	$$(function() {
		$$('input[type=text][name=year]').tooltip({ /*or use any other selector, class, ID*/
			placement: "right",
			trigger: "hover"
		});
		$$('input[type=text][name=champion_men]').tooltip({ /*or use any other selector, class, ID*/
			placement: "right",
			trigger: "hover"
		});
		$$('input[type=text][name=champion_women]').tooltip({ /*or use any other selector, class, ID*/
			placement: "right",
			trigger: "hover"
		});
	} );
</script>

<div class="container">
	<div class="page-header">
		<h1>History Admin <small>edit champions</small></h1>
	</div>
	<div class="row">
    <form class="form-editpl" role="form" method="post" action="championeditsubmit">
      <input type="hidden" name="id" class="form-control" id="id" value="$champion_data.id">
      <input data-toggle="tooltip" title="Year" type="text" name="year" class="form-control input-tp" id="year" value="$champion_data.year" required>
      <input data-toggle="tooltip" title="Men's Champion" type="text" name="champion_men" class="form-control input-md" id="champion_men" value="$champion_data.men" required>
      <input data-toggle="tooltip" title="Women's Champion" type="text" name="champion_women" class="form-control input-md" id="champion_women" value="$champion_data.women" required>
      <button class="btn btn-lg btn-success btn-block" type="submit" style="margin-top: 20px;">Edit Champions</button>
    </form>
    <hr>
	</div>
</div>