$def with (teamsdb, scheduledb, championsdb)
$var scheduled = scheduledb.list()
$var teamsd = teamsdb.list()
$var active_nav = "history"

<div class="container">
	<div class="page-header">
		<h1>History</h1>
	</div>
		
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="panel panel-primary">
				<div class="panel-header text-center">Past Champions</div>
				<div class="table-responsive">
					<table class="table table-hover">
						<tr>
							<th class="col-xs-2 text-center">Year</th>
							<th class="col-xs-5 text-center">Men's League</th>
							<th class="col-xs-5 text-center">Women's League</th>
						</tr>
						$for champ in championsdb:
							<tr>
								<td class="text-center">$champ.year</td>
								<td class="text-center">$champ.mens</td>
								<td class="text-center">$champ.womens</td>
						  </tr>
					</table>
				</div>
			</div>     
		<br>
		<hr>
		<br>
		</div>
		<div class="col-md-1"></div>
	</div>

</div>