$def with (teamsdb, scheduledb, newsdb, media, pointsdbmen, sacksdbmen, interceptionsdbmen, tdpsdbmen, pointsdbwomen, sacksdbwomen, interceptionsdbwomen, tdpsdbwomen, scoresdb, teams_list, season_current, upcoming)

$var scheduled = scheduledb.list()
$var teamsd = teamsdb.list()
$var active_nav = "home"

$ pointsdbmenlead = pointsdbmen[0]
$ indicator_class = collections.defaultdict(str)
$ indicator_class[0] = "active"
$ scores_svg = collections.defaultdict(str)
$ abbr = collections.defaultdict(str)
$ standings_wins = collections.defaultdict(str)
$ standings_losses = collections.defaultdict(str)
$ standings_ties = collections.defaultdict(str)

$for team in teams_list:
  $ scores_svg[team.shortname] = team.shortname + ".svg"
  $ abbr[team.shortname] = team.team_abbr

$ sorted_stand_men, clinch_men, penalty_men = sort_standings('Mens', season_current)	
$ sorted_stand_women, clinch_women, penalty_women = sort_standings('Womens', season_current)

$ sorted_stand_men_list = list(sorted_stand_men)
$ sorted_stand_women_list = list(sorted_stand_women)

$for standings in sorted_stand_men_list:
  $ standings_wins[standings.shortname] = standings.wins
  $ standings_losses[standings.shortname] = standings.losses
  $ standings_ties[standings.shortname] = standings.ties
$for standings in sorted_stand_women_list:
  $ standings_wins[standings.shortname] = standings.wins
  $ standings_losses[standings.shortname] = standings.losses
  $ standings_ties[standings.shortname] = standings.ties  

<div class="container">
	<div class="row row-home">

		<div class="col-md-7 col-pad col-md-push-2">
      <!-- Carousel -->
			<div id="carousel-highlights" class="section-wrapper home carousel slide" data-ride="carousel" data-interval="false">
        <!-- Slides -->
        <div class="carousel-inner" role="listbox">
          $for data in media['data']:
            <div class="home item $indicator_class[loop.index0]">
              $if data['type'] == 'video':
                <video width="60%" poster="$data['images']['standard_resolution']['url']" controls>
                  <source src="$data['videos']['low_bandwidth']['url']" type="video/mp4">
                </video>
              $elif data['type'] == 'image':
                <img class="highlights-img" src="$data['images']['standard_resolution']['url']" width="60%">
              <div class="home-header highlights">$data['caption']['text']
                <div class="highlights-date">$time.strftime("%A, %B %d, %Y", time.localtime(int(data['caption']['created_time'])))</div>
              </div>
            </div>
        </div>
        <!-- Close Slides -->
        <div class="carousel-links"> <div class="home-header links">Must See Highlights</div>
          <ul>
            $for data in media['data']:
              <div data-target="#carousel-highlights" data-slide-to="$loop.index0" class="link-wrapper $indicator_class[loop.index0]">
                <li>$data['caption']['text']</li>
              </div>
          </ul>
        </div>
        <a class="section-link highlights" href="https://instagram.com/sjtfl/">More Highlights <i class="fa fa-instagram"></i></a>
      </div>
      <!-- Close Carousel -->
			<!-- News -->
			<div class="section-wrapper home">
			$for news in newsdb:
				<div class="blog-news">
					<div class="home-header news">$news.title</div>
					<p class="blog-news-meta">$news.posted.strftime('%A, %B %d, %Y') - $news.posted.strftime('%I:%M %p')</p>
					<div class="blog-body"><p>$:news.body</p></div>
					<div class="blog-embed">$:news.embed</div>
				</div>
				<br>
			</div>
			<!-- Close News -->
		</div>
    <div class="col-md-2 col-pad col-md-pull-7">
      <div id="home-scores" class="section-wrapper home">
        <div class="home-header">Scores</div>
        <div class="home-scores">
          <ul>
            $for scores in scoresdb:
              <li>
                <div class="home-scores-date">
                  $scores.date.strftime('%a, %b %d')
                </div>
                <div class="home-scores-team">
                  <img src="/static/img/$scores_svg[scores.team1]" class="scores-logo">
                  $if abbr[scores.team1]:
                    $abbr[scores.team1]
                  $else:  
                    $scores.team1[:4]
                  <div class="lead-stat">$scores.team1score</div>
                </div>
                <div class="home-scores-team">
                  <img src="/static/img/$scores_svg[scores.team2]" class="scores-logo">
                  $if abbr[scores.team2]:
                    $abbr[scores.team2]
                  $else:  
                    $scores.team2[:4]
                  <div class="lead-stat">$scores.team2score</div>
                </div>
              </li>
          </ul>
        </div>
        <a class="section-link" href="/scores?week=$scoresdb[0].week">All Scores &raquo;</a>
      </div>
      <div id="home-scores" class="section-wrapper home">
        <div class="home-header">Upcoming Games</div>
        <div class="home-scores">
          <ul>
            $for games in upcoming:
              <li>
                <div class="home-scores-date">
                  $games.date.strftime('%a, %b %d') · $games.time.strftime('%-I:%M %p')
                </div>
                <div class="home-scores-team ">
                  <img src="/static/img/$scores_svg[games.team1]" class="scores-logo">
                  $if abbr[games.team1]:
                    $abbr[games.team1]
                  $else:  
                    $games.team1[:4]
                  <div class="lead-stat">($standings_wins[games.team1] - $standings_losses[games.team1] - $standings_ties[games.team1])</div>
                </div>
                <div class="home-scores-team">
                  <img src="/static/img/$scores_svg[games.team2]" class="scores-logo">
                  $if abbr[games.team2]:
                    $abbr[games.team2]
                  $else:  
                    $games.team2[:4]
                  <div class="lead-stat">($standings_wins[games.team2] - $standings_losses[games.team2] - $standings_ties[games.team2])</div>
                </div>
              </li>
          </ul>
        </div>
        <a class="section-link" href="/schedule">Full Schedule &raquo;</a>
      </div>
      <div class="section-wrapper home">
        <div class="home-header">Follow</div>
        <div class="social-row"> 
          <a class="socialtip" href="https://twitter.com/touchfootball" data-toggle="tooltip" title="Follow us on Twitter" target="_blank">
            <span class="fa-stack">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse social-twitter"></i>
            </span>
          </a>
          <a class="socialtip" href="https://instagram.com/sjtfl/" data-toggle="tooltip" title="Follow us on Instagram" target="_blank">
            <span class="fa-stack">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse social-instagram"></i>
            </span>
          </a>
          <a class="socialtip" href="https://facebook.com/sjtfl/" data-toggle="tooltip" title="Like us on Facebook" target="_blank">  
            <span class="fa-stack">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse social-facebook"></i>
            </span>
          </a>
          <a class="socialtip" href="mailto:contact@sjtfl.com" data-toggle="tooltip" title="E-mail us" target="_blank">
            <span class="fa-stack">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-envelope fa-stack-1x fa-inverse social-mail"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
		<div class="col-md-3 col-pad">
      <div class="section-wrapper home">
        <div class="home-header">Standings</div>
        <ul class="nav nav-home" role="tablist">
          <li class="active"><a href="#mens_stand" role="tab" data-toggle="tab">Men's</a></li>
          <li><a href="#womens_stand" role="tab" data-toggle="tab">Women's</a></li>
        </ul>

        <div class="tab-content">
          <div id="mens_stand" class="tab-pane fade in active">
            <div class="table-responsive">
              <table class="table table-hover table-condensed bordered">
                <tr>
                  <th class="col-xs-5 text-center">Team</th>
                  <th class="col-xs-1 text-center">W</th>
                  <th class="col-xs-1 text-center">L</th>
                  <th class="col-xs-1 text-center">T</th>
                  <th class="col-xs-1 text-center">PTS</th>
                </tr>
                $for standings in sorted_stand_men_list:
                  <tr>
                    <td><a class="team_link" href="/teams?teamid=$standings.id">$standings.shortname</a></td>
                    <td class="text-center">$standings.wins</td>
                    <td class="text-center">$standings.losses</td>
                    <td class="text-center">$standings.ties</td>
                    <td class="text-center">$standings.points</td>
                </tr>
              </table>
            </div>
          </div>

          <div id="womens_stand" class="tab-pane fade in">
            <div class="table-responsive">
              <table class="table table-hover table-condensed bordered">
                <tr>
                  <th class="col-xs-5 text-center">Team</th>
                  <th class="col-xs-1 text-center">W</th>
                  <th class="col-xs-1 text-center">L</th>
                  <th class="col-xs-1 text-center">T</th>
                  <th class="col-xs-1 text-center">PTS</th>
                </tr>
                $for standings in sorted_stand_women_list:
                  <tr>
                    <td><a class="team_link" href="/teams?teamid=$standings.id">$standings.shortname</a></td>
                    <td class="text-center">$standings.wins</td>
                    <td class="text-center">$standings.losses</td>
                    <td class="text-center">$standings.ties</td>
                    <td class="text-center">$standings.points</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <a class="section-link" href="/standings">Full Standings &raquo;</a>
		  </div>

      <div class="section-wrapper home">
        <div class="home-header">League Leaders</div>
        <ul class="nav nav-home" role="tablist">
          <li class="active"><a href="#mens_lead" role="tab" data-toggle="tab">Men's</a></li>
          <li><a href="#womens_lead" role="tab" data-toggle="tab">Women's</a></li>
        </ul>

        <div class="tab-content">
          <div id="mens_lead" class="tab-pane fade in active home-leaders">
            <ul class="list">
              <li>
                <div class="lead-type">Points Scored</div>
                $pointsdbmenlead.firstname $pointsdbmenlead.lastname
                <div class="lead-stat">$pointsdbmenlead.points</div>
              </li>
              <li>
                <div class="lead-type">Touchdown Passes</div>
                pointsdbmenlead.firstname pointsdbmenlead.lastname
                <div class="lead-stat">pointsdbmenlead.tdpass</div>
              </li>
              <li>
                <div class="lead-type">Interceptions</div>
                pointsdbmenlead.firstname pointsdbmenlead.lastname
                <div class="lead-stat">pointsdbmenlead.interception</div>
              </li>
              <li>
                <div class="lead-type">Sacks</div>
                pointsdbmenlead.firstname pointsdbmenlead.lastname
                <div class="lead-stat">pointsdbmenlead.sack</div>
              </li>
            </ul>
          </div>

          <div id="womens_lead" class="tab-pane fade in home-leaders">
            <ul class="list">
              <li>
                <div class="lead-type">Points Scored</div>
                pointsdbmenlead.firstname pointsdbmenlead.lastname
                <div class="lead-stat">pointsdbmenlead.points</div>
              </li>
              <li>
                <div class="lead-type">Touchdown Passes</div>
                pointsdbmenlead.firstname pointsdbmenlead.lastname
                <div class="lead-stat">pointsdbmenlead.tdpass</div>
              </li>
              <li>
                <div class="lead-type">Interceptions</div>
                pointsdbmenlead.firstname pointsdbmenlead.lastname
                <div class="lead-stat">pointsdbmenlead.interception</div>
              </li>
              <li>
                <div class="lead-type">Sacks</div>
                pointsdbmenlead.firstname pointsdbmenlead.lastname
                <div class="lead-stat">pointsdbmenlead.sack</div>
              </li>
            </ul>
          </div>
        </div>
        <a class="section-link" href="/statistics">Sortable Stats &raquo;</a>
		  </div>
      <div class="section-wrapper">
        <div class="fb-page" data-width="500px" data-href="https://www.facebook.com/sjtfl/" data-tabs="timeline, messages, events" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/sjtfl/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/sjtfl/">St. John&#039;s Touch Football League</a></blockquote></div>
      </div>
      <div class="section-wrapper">
        <a class="twitter-timeline" data-height="500px" href="https://twitter.com/touchfootball">Tweets by touchfootball</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

		</div>
	</div>	
</div> <!-- /container -->
