$def with (teamsdb, scheduledb, newsdb, media)

$var scheduled = scheduledb.list()
$var teamsd = teamsdb.list()
$var active_nav = "home"


<div class="container">
	<div class="row row-home">
		<div class="col-md-2 section-wrapper">
			<div class="home-header">Scores</div>
		</div>
		<div class="col-md-7">
			<div class="section-wrapper home">
				$for data in media['data']:
					<video width="400" height="400" controls>
						<source src="$data['videos']['low_bandwidth']['url']" type="video/mp4">
					</video>
					<div class="home-header highlights">$data['caption']['text']</div>
			</div>
			<div class="section-wrapper home">
			$for news in newsdb:
				<div class="blog-news">
					<div class="home-header highlights">$news.title</div>
					<p class="blog-news-meta">$news.posted.strftime('%A, %B %d, %Y') - $news.posted.strftime('%I:%M %p')</p>
					<div class="blog-body"><p>$:news.body</p></div>
					<div class="blog-embed">$:news.embed</div>
				</div>
				<br>
			</div>
		</div>
		<div class="col-md-3 section-wrapper">
			<div class="home-header">Standings</div>
		</div>
	</div>	
</div> <!-- /container -->
