$def with (teamsdb, scheduledb)
$var scheduled = scheduledb.list()
$var teamsd = teamsdb.list()

$var active_nav = "home"

<div class="container">
	<div class="page-header">
		<h1>Server Error <small>We broke something. Contact the admin.</small></h1>
	</div>
		
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
				<div class="error-body">
					<div class="error-embed">

					</div>
				</div>
				<br>
				<hr>
				<br>
		</div>
		<div class="col-md-2"></div>
	</div>

</div>
