$def with (teamsdb, scheduledb)
$var scheduled = scheduledb.list()
$var teamsd = teamsdb.list()
$var active_nav = "signup"

<div class="container">
	<div class="page-header">
		<h1>Sign Up</h1>
	</div>
	<div class="row">
    <iframe style="margin: 0 auto; display: block;" src="https://docs.google.com/forms/d/e/1FAIpQLSdtDGPDl24Z7tE5Oss8iRs-kSy7lTpHap5w2KUpoNkSfrEPiw/viewform?embedded=true" width="100%" height="1600" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    <hr>
	</div>

</div>