$def with (teamid, teamsdb, team1_data, scheduledb, scheduledb2, statsdb, teams_list, team1_stats, team1_last, team1_streak)
$var scheduled = scheduledb.list()
$var teamsd = teamsdb.list()
$var active_nav = "teams"

$ team_id = collections.defaultdict(int)
$ scores_svg = collections.defaultdict(str)
$ team_svg = team1_data.shortname + ".svg"
$ sponsor_svg = team1_data.shortname + "_sponsor.png"

$for team in teams_list:
  $ team_id[team.shortname] = team.id
  $ scores_svg[team.shortname] = team.shortname + ".svg"

$ team1_streak_total = 0

$for game in team1_streak:
	$if game.team1score <= game.team2score and game.team1 == team1_data.shortname:
		$break
	$elif game.team1score >= game.team2score and game.team2 == team1_data.shortname:
		$break
	$else:
		$ team1_streak_type = "W"
		$ team1_streak_total = team1_streak_total + 1

$for game in team1_streak:
	$if game.team1score >= game.team2score and game.team1 == team1_data.shortname:
		$break
	$elif game.team1score <= game.team2score and game.team2 == team1_data.shortname:
		$break
	$else:
		$ team1_streak_type = "L"
		$ team1_streak_total = team1_streak_total + 1
		
$for game in team1_streak:
	$if game.team1score != game.team2score and game.team1 == team1_data.shortname:
		$break
	$elif game.team1score != game.team2score and game.team2 == team1_data.shortname:
		$break
	$else:
		$ team1_streak_type = "T"
		$ team1_streak_total = team1_streak_total + 1

$if team1_data.gamesplayed == 0:
  $ team1_streak_type = ""

$if team1_stats is None:
  $ team1_points_per_game = 0
  $ team1_points_per_game_against = 0
$else:  
  $ team1_points_per_game = team1_stats.pointsfor/team1_data.gamesplayed
  $ team1_points_per_game_against = team1_stats.pointsagainst/team1_data.gamesplayed
   

<div class="team-header" style="background: linear-gradient(180deg, $team1_data.color 0%, #013372 91.16%);">
  <div class="team-bg" style="background-image: url(/static/img/$team_svg?version=1.0.3);"></div>
  <div class="team-name-helper">
    <img src="/static/img/$team_svg?version=1.0.3" class="team-header-logo">
    <div class="team-name-wrap"> 
      <div class="sponsor">$team1_data.name.replace(team1_data.shortname, '')</div>
      <div class="team-name">$team1_data.shortname<small> </small></div>
      $ t = team1_data.shortname
    </div>
    $if team1_data.sponsor_url:
      <a href="$team1_data.sponsor_url"><img src="/static/img/$sponsor_svg" class="team-sponsor-logo"></a>
  </div>
</div>

<div class="team-stat-banner" style="border-top:1px solid $team1_data.color">
    <div class="team-stat-header">Record
      <div class="team-stat-value">$team1_data.wins - $team1_data.losses - $team1_data.ties</div>
    </div>
    <div class="team-stat-header">Last 5
      <div class="team-stat-value">$team1_last['wins'] - $team1_last['losses'] - $team1_last['ties']</div>
    </div>
    <div class="team-stat-header">Streak
      <div class="team-stat-value">$team1_streak_type$team1_streak_total</div>
    </div>
    <div class="team-stat-header">PPG
      <div class="team-stat-value">$round(team1_points_per_game, 1)</div>
    </div>
    <div class="team-stat-header">OPPG
      <div class="team-stat-value">$round(team1_points_per_game_against, 1)</div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="section-wrapper home">
        <div class="home-header">Schedule</div>
        <ul class="nav nav-home" role="tablist">
          <li class="active"><a href="#games" role="tab" data-toggle="tab">Games</a></li>
          <li><a href="#lines" role="tab" data-toggle="tab">Line Duty</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade in active" id="games">
            <div class="team-schedule">
              <ul>
                $for schedule in scheduledb2:
                  $if schedule.team1 == t or schedule.team2 == t:  
                    <li>
                      <div class="team-scores-header">$schedule.date.strftime('%A, %B %d, %Y')</div>
                      <span class="team-scores-wrap">
                        <span class="team-scores-wrap-helper">  
                          <div class="team-scores">
                            <span class="team-scores-logo-wrap"><img src="/static/img/$scores_svg[schedule.team1]?version=1.0.2" class="team-scores-logo"></span>
                            $if schedule.team1score > schedule.team2score:
                              <div class="team-scores-name"><a class="team_link" href="/teams?teamid=$team_id[schedule.team1]"><strong>$schedule.team1</strong></a></div>
                              <div class="lead-stat"><strong>$schedule.team1score</strong></div>
                            $else:
                              <div class="team-scores-name"><a class="team_link" href="/teams?teamid=$team_id[schedule.team1]">$schedule.team1</a></div>
                              <div class="lead-stat">$schedule.team1score</div>
                          </div>
                          <div class="team-scores">                    
                            <span class="team-scores-logo-wrap"><img src="/static/img/$scores_svg[schedule.team2]?version=1.0.2" class="team-scores-logo"></span>
                            $if schedule.team2score > schedule.team1score:
                              <div class="team-scores-name"><a class="team_link" href="/teams?teamid=$team_id[schedule.team2]"><strong>$schedule.team2</strong></a></div>
                              <div class="lead-stat"><strong>$schedule.team2score</strong></div>
                            $else:
                              <div class="team-scores-name"><a class="team_link" href="/teams?teamid=$team_id[schedule.team2]">$schedule.team2</a></div>
                              <div class="lead-stat">$schedule.team2score</div>
                          </div>
                        </span>
                        <span class="team-scores-time">$schedule.time.strftime('%I:%M %p')</span>
                      </span>
                    </li>
              </ul>
            </div>
          </div>
          <div class="tab-pane fade in" id="lines">
            <div class="team-schedule">
              <ul>
                $for schedule in scheduledb2:
                  $if schedule.teamlines == t:
                    <li>
                      <div class="team-scores-header">$schedule.date.strftime('%A, %B %d, %Y')</div>
                      <span class="team-scores-wrap">
                        <span class="team-scores-wrap-helper">  
                          <div class="team-scores">
                            <span class="team-scores-logo-wrap"><img src="/static/img/$scores_svg[schedule.team1]" class="team-scores-logo"></span>
                            $if schedule.team1score > schedule.team2score:
                              <div class="team-scores-name"><strong>$schedule.team1</strong></div>
                              <div class="lead-stat"><strong>$schedule.team1score</strong></div>
                            $else:
                              <div class="team-scores-name">$schedule.team1</div>
                              <div class="lead-stat">$schedule.team1score</div>
                          </div>
                          <div class="team-scores">                    
                            <span class="team-scores-logo-wrap"><img src="/static/img/$scores_svg[schedule.team2]" class="team-scores-logo"></span>
                            $if schedule.team2score > schedule.team1score:
                              <div class="team-scores-name"><strong>$schedule.team2</strong></div>
                              <div class="lead-stat"><strong>$schedule.team2score</strong></div>
                            $else:
                              <div class="team-scores-name">$schedule.team2</div>
                              <div class="lead-stat">$schedule.team2score</div>
                          </div>
                        </span>
                        <span class="team-scores-time">$schedule.time.strftime('%I:%M %p')</span>
                      </span>
                    </li>
              </ul>
            </div>
          </div>      
      </div>
    </div>
  </div>

    <!-- roster -->

    <div class="col-md-7">
      <div class="section-wrapper home">
          
          <div class="home-header">Roster</div>
            <div class="table-responsive">
              <table class="table table-hover table-condensed no-head">
                <tr>
                <th class="text-center col-md-5">Player</th>
                <th class="text-center col-md-1"> GP </th>
                <th class="text-center col-md-1">PTS </th>
                <th class="text-center col-md-1">SCKS</th>
                <th class="text-center col-md-1">INTS</th>
                <th class="text-center col-md-1">TDP </th>
              </tr>
              $for stats in statsdb:
                $ points = stats.touchdowns * 6 + stats.oneconvert + stats.twoconvert * 2 + stats.rouge + stats.safety * 2
                <tr>
                  <td class="text-center"><h5>$stats.firstname $stats.lastname</h5></td>
                  <td class="text-center">$stats.gameplayed</td>
                  <td class="text-center">$points</td>
                  <td class="text-center">$stats.sack</td>
                  <td class="text-center">$stats.interception</td>
                  <td class="text-center">$stats.tdpass</td>
                </tr>
              </table>
            </div>
          
        </div>
    </div>
    
  </div>
  <br>
  <hr>
  <br>
</div>